        *,
        *::before,
        *::after {
          margin: 0;
          padding: 0;
          box-sizing: border-box;
        }

        body {
          font: normal 16px/1.5 "Helvetica Neue", sans-serif;
          background: #ffffff;
          color: rgb(0, 0, 0);
          overflow-x: hidden;
          /* padding-bottom: 50px; */
        }  /* INTRO SECTION
        –––––––––––––––––––––––––––––––––––––––––––––––––– */

        .fixed-semi-top {
          position: sticky; 
          
        }
        #accordion-title{
          position: sticky;
          padding: 0% 0% 0% 40%;
          
        }
        .intro {
          background: #ffffff;
          padding: 100px 0;
        }

        .container {
          width: 90%;
          max-width: 1200px;
          margin: 0 auto;
          text-align: center;
        }

        h1 {
          font-size: 2.5rem;
        }



        /* Accordion
        –––––––––––––––––––––––––––––––––––––––––––––––––– */
        
        /* .accordion-bodyL{
          position: relative;
          left: 55%;
        }
        .accordion-bodyR{
          position: relative;
          right: 55%;
          
        } */

        /* TIMELINE
        –––––––––––––––––––––––––––––––––––––––––––––––––– */
        div.col-title{
          color: #157347;
        }
        img.timeline-img{
          width:100%;
          overflow:hidden;
        }
        .timeline ul {
          background: #ffffff;
          padding: 50px 0;
        }

        .timeline ul li {
          list-style-type: none;
          position: relative;
          width: 6px;
          margin: 0 auto;
          padding-top: 50px;
          background:  #89ff29;
        }

        .timeline ul li::after {
          content: '';
          position: absolute;
          left: 50%;
          bottom: 0;
          transform: translateX(-50%);
          width: 30px;
          height: 30px;
          border-radius: 50%;
          background: inherit;
        }

        .timeline ul li div {
          position: relative;
          bottom: 0;
          width: 200px;
          padding: 15px;
          background: #ffffff;
        }

        

        /* .timeline ul li div::before {
          content: '';
          position: absolute;
          bottom: 7px;
          width: 0;
          height: 0;
          border-style: solid;
          left: -15px;
          border-width: 11px 10px 10px 10px;
          border-color: transparent #ff0015 transparent transparent;
        } */

        .timeline ul li:nth-child(odd) div {
          left: -209px;
        }
        /* the arrows */
        .timeline ul li:nth-child(odd) div::before {
          /* right: 40px; */

          left: -15px; 
          border-width: 11px 0 10px 10px;
          border-color: transparent transparent transparent #ff0015;

        }

        .timeline ul li:nth-child(even) div {
          /* left: 45px; */
          left: 13px;
          top: 3px;
        }

        /* the arrows */
        .timeline ul li:nth-child(even) div::before {
          right: 40px;
          border-width: 11px 10px 10px 10px;
          border-color: transparent #ff0015 transparent transparent;
          
        }

        .timeline ul li .right {
          position: absolute;
          left: -209px !important;
          top: 95px !important;
      }
      /* .timeline ul li .right::before{
        content: 'hello';
        position: absolute;
        left:-300px;
      } */

        /* .timeline ul li .both .left{
          left: 45px !important;
        } */

        time {
          display: block;
          font-size: 1.2rem;
          font-weight: bold;
          margin-bottom: 8px;
        }


        /* EFFECTS
        –––––––––––––––––––––––––––––––––––––––––––––––––– */

        .timeline ul li::after {
          transition: background .5s ease-in-out;
        }


        .timeline ul li.in-view::after {
          background: #00ff15;
          border:1px solid #121212;
          font-family: "Font Awesome 5 Pro";
          content: "\f111";
          display: inline-block;
          padding: 2px 0px 0px 6px;
          color:#ffffff;
          vertical-align: middle;
          font-weight:900; 
        }

        .timeline ul li div {
          visibility: hidden;
          opacity: 0;
          transition: all .5s ease-in-out;
        }

        .timeline ul li:nth-child(odd) div {
          transform: translate3d(200px, 0, 0);
        }

        .timeline ul li:nth-child(even) div {
          transform: translate3d(-200px, 0, 0);
        }

        .timeline ul li.in-view div {
          transform: none;
          visibility: visible;
          opacity: 1;
        }
        .content{
          display: inline-block;
        }
        .content i{
          color: #ff0015;
        }

        /* GENERAL MEDIA QUERIES
        –––––––––––––––––––––––––––––––––––––––––––––––––– */
/* 
        @media screen and (max-width: 900px) {
          .timeline ul li div {
            width: 250px;
          }
          .timeline ul li:nth-child(even) div {
            left: -289px;
            /*250+45-6
          }
        } */

        /* @media screen and (max-width: 600px) {
          .timeline ul li {
            margin-left: 20px;
          }
          .timeline ul li div {
            width: calc(100vw - 91px);
          }
          .timeline ul li:nth-child(even) div {
            left: 45px;
          }
          .timeline ul li:nth-child(even) div::before {
            left: -15px;
            border-width: 8px 16px 8px 0;
            border-color: transparent #ff0015 transparent transparent;
          }
        } */
        @media screen and (max-width: 451px) {
          
          .timeline ul li div {
            width: 150px;
          }
          .timeline ul li:nth-child(odd) div {
            left: -150px;
          }
          .timeline ul li:nth-child(even) div {
            left: 10px;
          }
          .timeline ul li:last-child div {
            top:50px;
          }
          .timeline ul li .right {
            position: absolute;
            left: -150px !important;
          }

        }